<div class="table-responsive fade-load">
  <div class="py-2">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Select Status</label>
      </div>
      <div class="col-auto">
        <div id="status"></div>
      </div>
    </div>
  </div>

  <table id="building" class="table table-striped-columns table-bordered align-middle mb-0 shadow-sm fade-page">
    <thead>
      <tr>
        <th>Resident ID</th>
        <th scope="col">Requestor</th>
        <th scope="col">Proposed Construction</th>
        <th scope="col">Total Area</th>
        <th scope="col">Location</th>
        <th scope="col">Owner</th>
        <th scope="col">Status</th>
        <th scope="col " class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      {% for building_permit in building_permit_list %}
      <tr class="table-text">
        <td class="text-center">{{ building_permit.res_id.res_id }}</td>
        <td>{{ building_permit.res_id }}</td>
        <td>{{ building_permit.proposed_construction }}</td>
        <td>{{ building_permit.total_area}}</td>
        <td>{{ building_permit.location}}</td>
        <td>{{ building_permit.owner}}</td>
        <td><span class="">{{ building_permit.status}}</span></td>

        <td class="text-center">
          {% if user.id != 30 %}
          <!-- Render these buttons only if the user ID is NOT 30 -->
          {% if building_permit.status.document_status == "Pending" %}
          <button class="btn btn-primary bg-gradient text-white"
            hx-get="{% url 'edit_building_permit' building_permit.id %}" hx-target="#dialog">
            <i class="fas fa-check-circle fs-5" style="color: white; vertical-align: middle"></i>
            <span style="vertical-align: middle"> Verify</span>
          </button>

          <button class="btn btn-danger bg-gradient" hx-get="{% url 'delete_building_permit' building_permit.id %}"
            hx-target="#dialog">
            <i class="fas fa-sync fs-5" style="vertical-align: middle"></i>
            <span style="vertical-align: middle"> Revert</span>
          </button>
          {% endif %}

          {% if building_permit.status.document_status == "Ready to Claim" %}
          <button class="btn btn-warning bg-gradient" hx-get="{% url 'confirm_button_bldp' building_permit.id %}"
            hx-target="#dialog">
            <i class="fas fa-print fs-5" style="vertical-align: middle"></i>
            <span style="vertical-align: middle"> For Printing</span>
          </button>
          {% endif %}

          {% if building_permit.status.document_status == "Ready to Claim(e-Signed)" %}
          <button class="btn btn-warning bg-gradient" hx-get="{% url 'esign_button_bldp' building_permit.id %}"
            hx-target="#dialog">
            <i class="fas fa-print fs-5" style="vertical-align: middle"></i>
            <span style="vertical-align: middle"> For Printing</span>
          </button>
          {% endif %}

          {% endif %}

          <!-- Always display the 'las la-pen' button -->
          {% if user.id != 29 %}

          {% if building_permit.status.document_status == "Forwarded to Kapitan" %}
          <!-- These buttons will display for user ids other than 29 -->

          <button class="btn btn-primary bg-gradient" hx-get="{% url 'edit_building_permit' building_permit.id %}"
            hx-target="#dialog">
            <i class="fas fa-eye fs-5" style="vertical-align: middle"></i>
            <span style="vertical-align: middle"> View</span>
          </button>

          <button class="btn btn-warning bg-gradient" hx-get="{% url 'unsign_building_permit' building_permit.id %}"
            hx-target="#dialog">
            <i class="fas fa-check fs-5" style="vertical-align: middle"></i>
            <span style="vertical-align: middle"> Confirm</span>
          </button>

          <button class="btn btn-success bg-gradient" hx-get="{% url 'esign_building_permit' building_permit.id %}"
            hx-target="#dialog">
            <i class="fas fa-pen-alt fs-5" style="vertical-align: middle"></i>
            <span style="vertical-align: middle"> E-sign</span>
          </button>
          <!-- <a -->
          <!--   target="_blank" -->
          <!--   type="button" -->
          <!--   class="btn btn-warning bg-gradient" -->
          <!--   href="{% url 'no_sign_buildingpermit' building_permit.id %}" -->
          <!-- > -->
          <!--   <i class="fas fa-ban fs-5" style="vertical-align: middle"></i> -->
          <!--   <span style="vertical-align: middle"> Unsign</span> -->
          <!-- </a> -->
          <!---->
          <!-- <a -->
          <!--   target="_blank" -->
          <!--   type="button" -->
          <!--   class="btn btn-success bg-gradient" -->
          <!--   href="{% url 'generate_building_permit' building_permit.id %}" -->
          <!-- > -->
          <!--   <i class="fas fa-pen-alt fs-5" style="vertical-align: middle"></i> -->
          <!--   <span style="vertical-align: middle"> e-Sign</span> -->
          <!-- </a> -->
          {% endif %}
          {% endif %}
        </td>
      </tr>

      {% empty %}

      <tr align="center">
        <td colspan="8">
          <h6 class="text-muted p-4">CURRENTLY NO DATA AVAILABLE</h6>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    var table = $("#building").DataTable({
      stateSave: true,
    });

    yadcf.init(table, [
      {
        column_number: 6,
        filter_default_label: "All",
        filter_container_id: "status",
        data: ["Pending", "Ready to Claim", "Released", "Forwarded to Kapitan", "Ready to Claim(e-Signed)"],
        style_class: "form-select",
        filter_reset_button_text: false,
      },
    ]);
  });

  $("#building")
    .find("span")
    .each(function () {
      if ($(this).html() == "Released") {
        $(this).addClass("released-status");
      }
      if ($(this).html() == "Ready to Claim") {
        $(this).addClass("ready-status");
      }
      if ($(this).html() == "Ready to Claim(e-Signed)") {
        $(this).addClass("ready-esigned-status");
      }
      if ($(this).html() == "Pending") {
        $(this).addClass("pending-status");
      }
      if ($(this).html() == "Forwarded to Kapitan") {
        $(this).addClass("forwadKap-status");
      }
    });
</script>

<style>
  .fade-load {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
</style>
