<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Would you like to confirm this request for manual signing?</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <p><b>Requested By:</b> {{ BuildingPermit.res_id }}</p>
        <p><b>Date Requested:</b> {{ BuildingPermit.date_requested }}</p>
        <p><b>Transaction ID:</b> {{ BuildingPermit.transaction_id }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Yes</button>
      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i>
        Cancel</button>
    </div>
</form>
