{% load static %}
<script src="{% static 'bootstrap/js/datepicker.js' %}" ></script>

<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
      {% if request.user.id != 30 %}
      <h5 class="modal-title">Verify Requestor for Certificate of Residency</h5>
    
      {% elif request.user.id != 29 %}
      <h5 class="modal-title">View Requestor Information</h5>
      {% endif %}
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-8 py-2">
                <p class="h6">Requestors Name</p>
                <input type="text" class="form-control form-control-sm" value="{{ disabledform.res_id }}" disabled>
            </div>

            <div class="col-4 py-2">
                <p class="h6">Date Requested</p>
                <input type="text" class="form-control form-control-sm" value="{{ disabledform.date_requested }}" disabled>
            </div>

            <div class="col-8 py-2">
                <p class="h6">Transaction ID</p>
                <input type="text" class="form-control form-control-sm" value="{{ disabledform.transaction_id }}" disabled>
            </div>
{% if request.user.id != 30 %}
            <div class="col-4 py-2">
                <p class="h6">Document Status</p>
                {{ form.status }}
            </div>

            <div class="col-12 py-2">
                <p class="h6">Purpose</p>
                {{ form.purpose }}
            </div>

            <div class="col-12 py-2">
                <p class="h6">Date Issued</p>
                <div class="input-group input-group-sm date">
                    {{ form.date_released }}
                    <span class="input-group-append">
                    <span class="input-group-text bg-white" id="inputGroup-sizing-sm"><i class="las la-calendar fs-5"></i></span>
                    </span>
                </div>
            </div>

            <br>
            <hr>
        </div>
    </div>
    {% endif %}
    <div class="modal-footer">
      {% if request.user.id != 30 %}
        <!-- Save and Cancel buttons visible only to user ID 29 -->
        <button onclick="Reload()" class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
    {% elif request.user.id != 29 %}
        <!-- Close button visible only to user ID 30 -->
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
    {% else %}
        <!-- Default buttons for other user IDs (if needed) -->
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
    {% endif %}
    </div>
</form>

