<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Would you like to confirm this request for manual signing?</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <p><b>Requested By:</b> {{ IndigencyCert.res_id }}</p>
        <p><b>Date Requested:</b> {{ IndigencyCert.date_requested }}</p>
        <p><b>Purpose:</b> {{ IndigencyCert.purpose }}</p>
        <p><b>Transaction ID:</b> {{ IndigencyCert.transaction_id }}</p>
      </div>
    </div>
    <div class="modal-footer">

      <button id="yesButton" class="btn btn-success" type="submit" onclick="showLoadingSpinner(event)">
        <span id="spinnerYes" class="spinner-border spinner-border-sm me-2" role="status" style="display: none;"></span>
        <i class="fas fa-check"></i> Yes
      </button>

      <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
        <i class="fas fa-times"></i> Cancel</button>
    </div>
</form>

<script>
  function showLoadingSpinner(event) {
    // Prevent duplicate form submissions
    const yesButton = document.getElementById("yesButton");
    const spinnerYes = document.getElementById("spinnerYes");

    // Show the spinner and disable the button
    yesButton.disabled = false;
    spinnerYes.style.display = "inline-block";
  }
</script>
