<form hx-post="{{ request.path }}" class="modal-content">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Would you like to confirm this request for manual signing?</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <p><b>Requested By:</b> {{ BusinessPermit.res_id }}</p>
        <p><b>Date Requested:</b> {{ BusinessPermit.date_requested }}</p>
        <p><b>Transaction ID:</b> {{ BusinessPermit.transaction_id }}</p>
      </div>
      </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit">Yes</button>
    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
      Cancel
    </button>
  </div>
</form>
