{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'img/favicon-48x48.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'nav-tab.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/jquery.dataTables.yadcf.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/dataTables.dateTime.min.css' %}">
   
    
    <script src="{% static 'bootstrap/js/jquery.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/jquery.dataTables.js' %}" ></script>
    <script src="{% static 'bootstrap/js/dataTables.bootstrap5.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/filterDropDown.min.js' %}" ></script>

    <script src="{% static 'bootstrap/js/pdfmake.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/vfs_fonts.js' %}" ></script>
    <script src="{% static 'bootstrap/js/datatables.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/jquery.dataTables.yadcf.js' %}" ></script>
    <script src="{% static 'bootstrap/js/moment.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/dataTables.dateTime.min.js' %}" ></script>

<style>
    .dropdown-menu .dropdown-item {
        color: white; /* Default text color */
    }

    .dropdown-menu .dropdown-item:hover, 
    .dropdown-menu .dropdown-item:focus {
        color: black; /* Text color when highlighted */
    }

    .dropdown-menu {
        background-color: #008000; /* Keep the green background */
    }
</style>
    
  <title>Barangay E-Service System</title>
</head>

<body>

    <div id="loading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav" style="background-color: #355389;">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">

                <div class="row">
                    <div class="col-2">
                        <div><img src="{%static 'img/poblacionlogo.png' %}" height="60"></div>
                    </div>
                    <div class="col-10 px-4 pt-2">
                        <div class=""><h5 class="" style="color: #FFFFFF;"><b>BARANGAY POBLACION</b></h5></div>
                    <div class="" style="margin-top: -2px;">
                        <h5 class="" style="color: #50C878;"><b>Barangay E-Service System</b></h5>
                      </div>
                  </div>
                </div>

                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="las la-bars fs-5"></i></button>

            </div>
            <ul class="list-unstyled px-2">
                <li class=""><a href="{% url 'dashboard' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fa fa-line-chart"></i> Dashboard</a></li>
            
 {% if request.user.groups.all.0.name == 'superadmin' %}
            <li class=""><a href="{% url 'announcementPage' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-bullhorn"></i> Announcements</a></li>
                {% endif %} 
            
                {% if request.user.groups.all.0.name == 'superadmin' %}
<div class="side-sub-menu py-2">
                    <div class="accordion-button px-3 py-2" data-bs-toggle="collapse" href="#collapseAccounts" aria-expanded="false" aria-controls="collapseAccounts" style="background-color: #008000;">
                        <a class="text-decoration-none d-block">
                            <i class="fas fa-address-card"></i> Accounts
                        </a>
                    </div>

                    <div class="ps-3 sub-content" style="background-color: #008000;">
                        <ul class="list-unstyled px-2 py-2 collapse" id="collapseAccounts">

                <li class=""><a href="{% url 'add_official_account' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-user-plus"></i> Add Account</a></li>
                <li class=""><a href="{% url 'officialList' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-user-circle"></i> Account List</a></li>
                </ul>
                    </div>
                    {% endif %} 

              {% if request.user.id != 30 %}
              {% if request.user.groups.all.0.name != 'superadmin' %}
                <div class="side-sub-menu py-2">
                    <div class="accordion-button px-3 py-2" data-bs-toggle="collapse" href="#collapseResident" aria-expanded="false" aria-controls="collapseResident" style="background-color: #008000;">
                        <a class="text-decoration-none d-block">
                            <i class="fas fa-address-card"></i> Profiling
                        </a>
                    </div>

                    
<div class="ps-3 sub-content" style="background-color: #008000;">
    <ul class="list-unstyled px-2 py-2 collapse" id="collapseResident">
        <li>
            <a href="{% url 'resident_list' %}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fas fa-users"></i> Residents
            </a>
        </li>

        <li>
            <a href="{% url 'pwd' %}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fas fa-wheelchair"></i> PWD
            </a>
        </li>

        <li>
            <a href="{% url 'senior' %}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fas fa-user-clock"></i> Senior Citizen
            </a>
        </li>

        <li>
            <a href="{% url 'single' %}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fas fa-user"></i> Single Parent
            </a>
        </li>
    </ul>
</div>

              {% endif %} 
              {% endif %} 

        {% if not request.user.groups.all.0.name == 'superadmin' %}
<div class="side-sub-menu py-2">
                    <div class="accordion-button px-3 py-2" data-bs-toggle="collapse" href="#collapseIssuances" aria-expanded="false" aria-controls="collapseIssuances" style="background-color: #008000;">
                        <a class="text-decoration-none d-block">
                            <i class="fas fa-file-alt"></i> Issuances
                        </a>
                    </div>

                    <div class="ps-3 sub-content" style="background-color: #008000;">
                        <ul class="list-unstyled px-2 py-2 collapse" id="collapseIssuances">

                <li class=""><a href="{% url 'clearance'%}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-alt "></i> Barangay Clearance</a></li>
                <li class=""><a href="{% url 'indigency_request' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-feather-alt "></i> Certificate of Indigency</a></li>
                <li class=""><a href="{% url 'business_permit_module' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-contract "></i> Barangay Business Permit</a></li>
                <li class=""><a href="{% url 'building_permit_module' %}" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-building "></i> Barangay Building Permit</a></li>
                <li class=""><a href="{% url 'residency_certificate_module' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-certificate "></i> Certificate of Residency</a></li>
                </ul>
          {% endif %}
 
          {% if not request.user.groups.all.0.name != 'superadmin' %}
          <div class="side-sub-menu py-2">
                <!--<hr class="h-color mx-3">-->
                <li class=""><a href="{% url 'adminProfile' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-user"></i> Profile </a></li>
                <!--<hr class="h-color mx-3">-->
                {% endif %}
               </div>
                
                {% if request.user.id != 30 %}
                {% if not request.user.groups.all.0.name == 'superadmin' %}
          <div class="side-sub-menu py-2">
                    <div class="accordion-button px-3 py-2" data-bs-toggle="collapse" href="#collapseReports" aria-expanded="false" aria-controls="collapseReports" style="background-color: #008000;">
                        <a class="text-decoration-none d-block">
                            <i class="fas fa-calendar-week"></i> Reports
                        </a>
                    </div>

                    <div class="ps-3 sub-content" style="background-color: #008000;">
                        <ul class="list-unstyled px-2 py-2 collapse" id="collapseReports">
                            <li class="">
                                <li class=""><a href="{% url 'reports' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-archive"></i> Issued Documents </a></li>
                            </li>

                            <li class="">
                                <li class=""><a href="{% url 'clearance_reports' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-signature"></i>Issued Clearance </a></li>
                            </li>

                            <li class="">
                                <li class=""><a href="{% url 'indigency_reports' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-invoice"></i> Issued Indigency </a></li>
                            </li>

                            <li class="">
                                <li class=""><a href="{% url 'business_reports' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-invoice-dollar"></i> Issued Business Permit </a></li>
                            </li>

                            <li class="">
                                <li class=""><a href="{% url 'building_reports' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-file-image"></i> Issued Building Permit </a></li>
                            </li>

                            <li class="">
                                <li class=""><a href="{% url 'residency_reports' %}" class="text-decoration-none px-3 py-2 d-block"><i class="far fa-id-badge"></i> Issued Residency </a></li>
                            </li>

                        </ul>
                    </div>
                </div>
                {% endif %}  
                {% endif %} 
              
                {% if request.user.id != 30 %}
                {% if not request.user.groups.all.0.name == 'superadmin' %}               
                <li class=""><a href="{% url 'requestLogs' %}" class="text-decoration-none px-3 py-2 d-block"><i class="fas fa-history fs-5"></i> Request Logs </a></li>
                <div class="side-sub-menu">
                
                {% endif %} 
                {% endif %}

            </ul>
            
        </div>

        <div class="content">
            <nav class="navbar navbar-expand-md navbar-light bg-light nav-bottom">
              <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn me-2"><i class="las la-bars fs-5"></i></button>
                        <a class="navbar-brand fd-4" href="#"><img src="{%static 'img/poblacionlogo.png' %}" height="40"><span class="px-2 py-0 h4">Barangay Poblacion</span></a>
                        
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
            
            {% if user.id != 1 and user.id != 30 %}                      
            <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bell fs-5"></i>
                      <span class="badge" style="background-color: #008000; color: white;">5</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown" style="background-color: #008000; color: white;">
                        <li><a class="dropdown-item" href="{% url 'clearance' %}">Clearance</a></li>
                        <li><a class="dropdown-item" href="{% url 'indigency_request' %}">Certificate of Indigency</a></li>
                        <li><a class="dropdown-item" href="{% url 'business_permit_module' %}">Business Permit</a></li>
                        <li><a class="dropdown-item" href="{% url 'building_permit_module' %}">Building Permit</a></li>
                        <li><a class="dropdown-item" href="{% url 'residency_certificate_module' %}">Certificate of Residency</a></li>
                    </ul>
                </li>
                {% endif %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-user fs-5 me-2"></i> {{ user.username }}</a>
                        </li>
                        
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'adminLogout' %}"><i class="fas fa-sign-out-alt fs-5"></i> Logout</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>

            <div class="dashboard-content px-3 pt-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>



<script src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}" ></script>
<script src="{% static 'bootstrap/js/datepicker.js' %}" ></script>
<script src="{% static 'bootstrap/js/img-preview.js' %}" ></script>

<script src="{% static 'bootstrap/js/htmx.min.js' %}" ></script>
<script src="{% static 'bootstrap/js/dialog.js' %}" ></script>

<script src="{% static 'bootstrap/js/function.js' %}" ></script> 
<script src="{% static 'bootstrap/js/issued_document_datatable.js' %}" ></script>
<script src="{% static 'bootstrap/js/requested_documents_logs.js' %}" ></script>

<script>
    $(function(){
        $('.sidebar ul li a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active');
        $('.sidebar ul li a').click(function(){
            $(this).parent().addClass('active').siblings().removeClass('active')    
        })
    });

    $('.open-btn').on('click' , function(){
        $('.sidebar').addClass('active');
    });

    $('.close-btn').on('click' , function(){
        $('.sidebar').removeClass('active');
    });

    // bootstrap colapse
    $(document).ready(function () {
        $(".collapse").on("shown.bs.collapse", function () {
            localStorage.setItem("coll_" + this.id, true);
            console.log('SHOW ' + this.id);
        });

        $(".collapse").on("hidden.bs.collapse", function () {
            localStorage.removeItem("coll_" + this.id);
            console.log('HIDE' + this.id);
        });
        
        $(".collapse").each(function () {
            console.log('EACH ' + this.id);
            if (localStorage.getItem("coll_" + this.id) === "true") {
                $(this).collapse("show");
            }
            else {
                $(this).collapse("hide");
            }
        });
    });

    
</script> 

<script>

    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector("body").style.visibility = "hidden";
            document.querySelector("#loading").style.visibility = "visible";
        } else {
            document.querySelector("#loading").style.display = "none";
            document.querySelector("body").style.visibility = "visible";
        }
    };
</script>
</body>
</html>
