{% extends "UsersideTemplate/base.html" %}
{% load static %}
{% block content %}

<section>
<div class="container py-2">
    <div class="row py-2">

        <div class="col-lg-7 my-auto d-flex justify-content-center">
                <table>
                    <tr>
                        <td colspan="2">
                            <p class="h1 txt-color-theme-1"><b>Contact Us :</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <br>
                            <img src="{% static 'img/telephone.png' %}" width="40px" />
                        </td>

                        <td>
                            <br>
                            <p class="h4 txt-color-theme-1">Globe - 09361174734</p>
                            <p class="h4 txt-color-theme-1">TM - 09057198345</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <br><br>
                            <img src="{% static 'img/email.png' %}" width="100px" />
                        </td>

                        <td>
                            <br><br>
                            <p class="h4 txt-color-theme-1">barangaypoblacion.naawan@gmail.com</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <br><br>
                            <img src="{% static 'img/flag.png' %}" width="40px" />
                        </td>

                        <td>
                            <br><br>
                            <p class="h4 txt-color-theme-1">Brgy.Poblacion Naawan, Misamis Oriental, 9023</p>
                        </td>
                    </tr>
                </table>
        </div>

        <div class="col-lg-5">
            <img class="img-fluid" src="{% static 'img/contact-img-main.png' %}">
            <a style="text-decoration: none;" class="float-end" href="https://www.freepik.com/free-vector/contact-us-concept-illustration_8690678.htm#page=2&query=contact%20us&position=2&from_view=search">Image by storyset</a>
        </div>

        <!--<div class="col-lg-4">-->
        <!--    <img class="img-fluid" src="{% static 'img/customer-support.png' %}">-->
        <!--    <a style="text-decoration: none;" href="https://www.freepik.com/free-vector/customer-support-representatives-working-call-center_9174514.htm#page=2&query=contact%20us&position=33&from_view=search">Image by pch.vector</a>-->
        <!--</div>-->
    </div>
    <br>
 <br>
 <br>

</div>
</section>

<section>
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-6 borderless ">
        <ul class="list-group float-end border-0 borderless">
          <li class="list-group-item float-end border-0"><img class="" src="{% static 'img/emergency.jpg'%}" width="400"></li>
          <a style="text-decoration: none;" href="https://www.freepik.com/free-vector/flat-medical-icon-set_881286.htm#fromView=search&page=2&position=2&uuid=e1c2b43a-d683-4d62-992d-0b6741f7d892">Image by Olga_spb</a></li>
        </ul>
        </div>

      <div class="col-lg-6 my-auto">
                    <table>
                      <tr>
                        <td colspan="2">
                            <p class="h1 txt-color-theme-1"><b>Barangay Emergency Hotlines :</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <br>
                            <img src="{% static 'img/PNP-NAAWAN.jpg' %}" width="50px" />
                        </td>

                        <td>
                            <br>
                            <p class="h4 txt-color-theme-1">PNP(Naawan) - 09985986963 </p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <br><br>
                            <img src="{% static 'img/MDRRMO.png' %}" width="50px" />
                        </td>

                        <td>
                            <br><br>
                            <p class="h4 txt-color-theme-1">MDRRMO(Naawan) - 09620408084</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <br><br>
                            <img src="{% static 'img/BFP-NAAWAN.jpg' %}" width="50px" />
                        </td>

                        <td>
                            <br><br>
                            <p class="h4 txt-color-theme-1">BFP(Naawan) - 09672446008</p>
                        </td>
                    </tr>
                </table>
      </div>
    </div>
  </div>
</section>

<br>

<section>
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</section>

<section>
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <p class="h-5">Icon References:</p>
                <a href="https://www.freepik.com/free-vector/illustration-telephone_2606088.htm#query=telephone%20icon&position=23&from_view=search">Image by rawpixel.com</a> on Freepik<br>
                <a href="https://www.freepik.com/free-vector/character-couple-holding-new-message-illustration_2921440.htm#page=2&query=email%20icon&position=23&from_view=search">Image by rawpixel.com</a> on Freepik<br>
                <a href="https://www.freepik.com/free-vector/illustration-flag-icon_2606892.htm#page=2&query=location%20icon&position=8&from_view=search">Image by rawpixel.com</a> on Freepik<br>
                <a href="https://web.facebook.com/photo/?fbid=162468496067672&set=a.162468489401006">Image by Naawan Municipal Police Staion</a> on Facebook<br>
                <a href="https://web.facebook.com/photo/?fbid=114001825062756&set=a.100682519728020">Image by LGU - Naawan Disaster Risk Reduction and Management Office</a> on Facebook<br>
                <a href="https://web.facebook.com/photo/?fbid=203344272214680&set=a.114869724395469">Image by BFP R10 Naawan</a> on Facebook<br>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
