{% extends "UsersideTemplate/base.html" %}
{% load static %}
{% block content %}

<style>

.title-holder {
  top: 50%;
  left: 40%;
  position: absolute;
}
.title {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #008000; /* Green color for text */
  width: 0; /* Start hidden */
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent wrapping */
  display: block;
  border-right: 3px solid #f9d566; /* Cursor simulation */
  animation: typewriter 5.5s steps(100, end) infinite, blinking-cursor 5.5s step-end infinite;
  animation-fill-mode: forwards; /* Ensure it stays visible at end of each loop */
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  50% {
    width: 100%; /* Fully typed out */
  }
  100% {
    width: 0; /* Erase to start again */
  }
}

@keyframes blinking-cursor {
  from {
    border-color: transparent;
  }
  to {
    border-color: #296da0; /* Yellow cursor */
  }
}

</style>

<section>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="container-fluid">

          <div class="row p-5">
        
            <div class="col-lg-7 col-md-12 col-12 my-auto p-5">
              <div ><img src="{% static 'img/index_bg.png'%}" class="img-fluid"></div>
              <a class="link-freepick" href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
            </div>

            <div class="col-lg-5 col-md-12 col-12 my-auto p-5">
              <div><h2 style="font-weight: 400; color: #355389;">WELCOME TO</h2></div>
              <div><h1 class="display-3" style="font-weight: 600; color: #355389">BARANGAY POBLACION</h1></div>
              <div>
                <blockquote class="blockquote" style="color: #355389">
                    <p>Open Hours: Monday to Friday (8:00 AM - 5:00 PM)</p>
                  </p>
                </blockquote>
              </div>
              <div>
                <a type="button" class="btn-theme-outline" href="{% url 'about' %}">About Us</a>
              </div>
            </div>

            <div class="col-lg-12 d-flex justify-content-end">
              <img src="{% static 'img/poblacionlogo.png'%}" width="70">
              <img src="{% static 'img/sklogo.png'%}" width="70">
              <img src="{% static 'img/naawanlogo.jpg'%}" width="70">
            </div>

            

<div class="col-lg-12 d-flex justify-content-center pt-3">
    <figure class="text-end pt-3">
        <blockquote class="blockquote">
            <p class="title">
                <em><b>"Strive for progress, not perfection"</b></em>
            </p>
        </blockquote>
      </div>
          </div>
        </div>
      </div>

      <div class="carousel-item ">
        <div class="video-wrapper">
          <video playsinline autoplay muted loop>
            <source src="{% static 'img/Naawan.mp4'%}" type="video/webm">
            Your browser does not support the video tag.
          </video>
        
          <div class="header">
            <h1 class="display-1"><b>THE BEAUTY OF POBLACION NAAWAN</b></h1>
            <h1 class="display-6">ALONG WITH THE NATURE BY THE SEA</h1>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next text-dark" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

{% endblock content %}
