{% extends "UsersideTemplate/ServicePortalBase.html" %}
{% load static %}
{% block content %}

<div class="container bg-white rounded shadow p-5">
<form action="." method="POST" id="indigencyForm">
{% csrf_token %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center" style="color: #355389;">
            <h3><b>REQUEST FOR CERTIFICATE OF INDIGENCY</b></h3>
        </div>
        <div class="col-12 d-flex justify-content-center pb-4">
            <p>Fill-up the form and submit</p>
        </div>

        <div class="col-lg-12 col-md-8 col-12">
            <div><h5><strong>Bearer:</strong> {{userinfo.residentsinfo.firstname}} {{userinfo.residentsinfo.middlename|slice:"0:1"}}. {{userinfo.residentsinfo.lastname}}</h5></div>
            <div><h5><strong>From:</strong> {{userinfo.residentsinfo.purok}}</h5></div>
        </div>

        <hr>

            <!--<div class="col-12 col-lg-2 pb-3">-->
            <!--    <p class="h6">Enter your age</p>-->
            <!--    {{form.age}}-->
            <!--</div>-->

            <div class="col-12 col-lg-10">
                <p class="h6">Application For</p>
                {{form.purpose}}
            </div>

            <div class="col-12 pt-5 d-flex justify-content-end">
                <button type="button" id="submitBtn" class="btn-theme col-12 col-md-3 -btn2">Submit</button>
                &nbsp;&nbsp;
                <button type="button" id="cancelBtn" class="btn-theme -btn1 col-12 col-md-3 text-center">Cancel</button>
            </div>
    </div>
</form>
</div>
<br>
<br>
<br>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Submit button click handler
        document.getElementById('submitBtn').addEventListener('click', function() {
            const purposeField = document.querySelector('[name="purpose"]');

            if (!purposeField.value.trim()) {
                Swal.fire({
                    title: 'Required Field Empty',
                    text: 'Please enter the purpose for your certificate of indigency request',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
                return;
            }

            Swal.fire({
                title: 'Submit Certificate of Indigency Request?',
                text: 'Are you sure you want to submit this certificate of indigency request?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes, submit it!',
                cancelButtonText: 'No, review again'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Show loading state
                    Swal.fire({
                        title: 'Processing...',
                        text: 'Please wait while we process your request',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showConfirmButton: false,
                        willOpen: () => {
                            Swal.showLoading();
                        }
                    });

                    // Submit the form
                    document.getElementById('indigencyForm').submit();
                }
            });
        });

        // Cancel button click handler
        document.getElementById('cancelBtn').addEventListener('click', function() {
            Swal.fire({
                title: 'Cancel Request?',
                text: 'Are you sure you want to cancel? Any information entered will be lost.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, cancel it!',
                cancelButtonText: 'No, continue editing'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'service_portal' %}";
                }
            });
        });
    });
</script>
{% endblock content %}
