{% extends "../base.html" %} {% load static %} {% block content %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


<style>
  .example1 {
    background-color: #355389;
    border-radius: 25px;
    padding-bottom: 5%;
  }
</style>

<!-- Add Popper.js before Bootstrap script (bootstrap.min.js already included in base.html) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

<section>
  <div class="container-fluid fade-page">
    <div class="row">
      <div class="col-12 py-2 rounded">
        <div class="example1">
          <div class="row rounded">
            <div class="col-lg-7 col-md-12 my-auto px-5">
              <h1 class="display-6 text-white" style="font-weight: 400">
                Welcome! {{ user.username }}, Your Gateway to Transparent and
                Efficient Governance.
              </h1>
              <p class="lead text-white px-1">
                <b>Barangay Residents as of {% now "F d, Y" %} at {% now "h:i A" %}</b>
              </p>
            </div>

            <div class="col-lg-5 col-md-12">
              <a
                class="text-white float-end px-5"
                style="text-decoration: none; font-size: 10px"
                href="https://www.freepik.com/free-vector/diverse-crowd-people-different-ages-races_7732608.htm"
                >Image by pch.vector</a
              >
              <img
                src="{% static 'img/race.svg' %}"
                class="img-fluid"
                style="max-height: 300px; min-height: 120px"
              />
            </div>

            <div class="col-12 position relative">
              <div class="position-absolute bottom-0 end-0"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col" style="margin-top: -4em">
        <div class="row px-4">
          <div class="col-12 mb-3 d-flex justify-content-end">
            <div>
              <button class="btn btn-sm btn-outline-primary" onclick="downloadSection('demographicsSection', 'Demographics_Cards.jpeg', 'image/jpeg')">
                <i class="fas fa-download"></i> Download as JPEG
              </button>
              <button class="btn btn-sm btn-outline-primary ms-1" onclick="downloadSection('demographicsSection', 'Demographics_Cards.png', 'image/png')">
                <i class="fas fa-download"></i> Download as PNG
              </button>
            </div>
          </div>

          <div id="demographicsSection" class="row">
          <div class="col-lg-4 col-md-12">
            <a href="{% url 'resident_list' %}" style="text-decoration: none">
              <div class="col-md">
                <div
                  class="card text-center text-white mb-3 border-0 shadow"
                  id="resident"
                >
                  <div class="card-header">
                    <h5 class="card-title">
                    <i class="fa-solid fa-users"></i> Registered Residents
                    </h5>
                  </div>
                  <div clas="card-body">
                    <h3 class="card-title">{{cResident}}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="col-md">
              <div
                class="card text-center text-white mb-3 border-0 shadow"
                id="male"
              >
                <div class="card-header">
                  <h5 class="card-title">
                    <i class="fa-solid fa-mars"></i> Male
                    </h5>
                </div>
                <div clas="card-body">
                  <h3 class="card-title">{{cMale}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="col-md">
              <div
                class="card text-center text-white mb-3 border-0 shadow"
                id="f"
              >
                <div class="card-header">
                  <h5 class="card-title">
                    <i class="fa-solid fa-venus"></i> Female
                    </h5>
                </div>
                <div clas="card-body">
                  <h3 class="card-title">{{cFemale}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <a href="{% url 'single' %}" style="text-decoration: none">
              <div class="col-md">
                <div
                  class="card text-center text-white mb-3 border-0 shadow"
                  id="yes"
                >
                  <div class="card-header">
                    <h5 class="card-title">
                    <i class="fas fa-user"></i> Single Parent
                    </h5>
                  </div>
                  <div clas="card-body">
                    <h3 class="card-title">{{cYes}}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-4">
            <a href="{% url 'pwd' %}" style="text-decoration: none">
              <div class="col-md">
                <div
                  class="card text-center text-white mb-3 border-0 shadow"
                  id="pwd"
                >
                  <div class="card-header">
                    <h5 class="card-title">
                    <i class="fas fa-wheelchair"></i> PWD
                    </h5>
                  </div>
                  <div clas="card-body">
                    <h3 class="card-title">{{cPwd}}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="{% url 'senior' %}" style="text-decoration: none">
              <div class="col-md">
                <div
                  class="card text-center text-white mb-3 border-0 shadow"
                  id="senior"
                >
                  <div class="card-header">
                    <h5 class="card-title">
                    <i class="fas fa-user-clock"></i> Senior Citizen
                    </h5>
                  </div>
                  <div clas="card-body">
                    <h3 class="card-title">{{cSenior}}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- <h4>Civil Status</h4> -->
          <div class="col-lg-3 col-md-6">
            <div class="col-md">
              <div
                class="card text-center text-white mb-3 border-0 shadow"
                id="married"
              >
                <div class="card-header">
                  <h5 class="card-title">
                    <i class="fa fa-ring"></i> Married
                    </h5>
                </div>
                <div clas="card-body">
                  <h3 class="card-title">{{cMarried}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="col-md">
              <div
                class="card text-center text-white mb-3 border-0 shadow"
                id="single"
              >
                <div class="card-header">
                  <h5 class="card-title">
                    <i class="fa fa-user-circle"></i> Single
                    </h5>
                </div>
                <div clas="card-body">
                  <h3 class="card-title">{{cSingle}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="col-md">
              <div
                class="card text-center text-white mb-3 border-0 shadow"
                id="divorced"
              >
                <div class="card-header">
                  <h5 class="card-title">
                    <i class="fa fa-heart-broken"></i> Divorced
                    </h5>
                </div>
                <div clas="card-body">
                  <h3 class="card-title">{{cDivorced}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="col-md">
              <div
                class="card text-center text-white mb-3 border-0 shadow"
                id="widowed"
              >
                <div class="card-header">
                  <h5 class="card-title">
                    <i class="fa fa-ribbon"></i> Widowed
                    </h5>
                </div>
                <div clas="card-body">
                  <h3 class="card-title">{{cWidowed}}</h3>
                </div>
              </div>
            </div>
          </div>
          </div> <!-- Closing tag for demographicsSection div -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- New Section: Document Request Statistics -->
<section class="mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card border-0 shadow mb-4">
          <div class="card-header py-3 d-flex justify-content-between align-items-center" style="background-color: #355389; color: white;">
            <h5 class="mb-0"><i class="fas fa-file-alt me-2"></i> Document Request Statistics</h5>
            <div class="d-flex align-items-center">
              <!-- Time Period Filter -->
              <div class="me-3 d-flex align-items-center">
                <div class="me-2">

                  <select id="periodFilter" class="form-select form-select-sm" onchange="togglePeriodOptions()">
                    <option value="all">All Time</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                  </select>
                </div>

                <!-- Week Selector (Hidden by default) -->
                <div id="weekOptions" class="me-2" style="display: none;">
                  <select id="weekFilter" class="form-select form-select-sm">
                    <option value="current">Current Week</option>
                    <option value="last">Last Week</option>
                    <option value="last2">2 Weeks Ago</option>
                    <option value="last3">3 Weeks Ago</option>
                    <option value="last4">4 Weeks Ago</option>
                  </select>
                </div>

                <!-- Month Selector (Hidden by default) -->
                <div id="monthOptions" class="me-2" style="display: none;">
                  <select id="monthFilter" class="form-select form-select-sm">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>

                <!-- Year Selector (Hidden by default) -->
                <div id="yearOptions" class="me-2" style="display: none;">
                  <select id="yearFilter" class="form-select form-select-sm">
                    <!-- Dynamically populated with JavaScript for the last 5 years -->
                  </select>
                </div>

                <!-- Apply Filter Button -->
                <button id="applyFilterBtn" class="btn btn-sm btn-light" onclick="applyFilters()" style="display: none;">
                  <i class="fas fa-filter"></i> Apply
                </button>
              </div>

              <!-- Download buttons -->
              <div>
                <button class="btn btn-sm btn-outline-light" onclick="downloadSection('documentStatsSection', 'Document_Statistics.jpeg', 'image/jpeg')">
                  <i class="fas fa-download"></i> Download as JPEG
                </button>
                <button class="btn btn-sm btn-outline-light ms-1" onclick="downloadSection('documentStatsSection', 'Document_Statistics.png', 'image/png')">
                  <i class="fas fa-download"></i> Download as PNG
                </button>
              </div>
            </div>
          </div>
          <div class="card-body" id="documentStatsSection">
            <div class="row">

              <!-- Barangay Clearance -->
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <div class="card-header bg-success text-white">
                    <h6 class="mb-0"><i class="fas fa-file-alt me-2"></i> Barangay Clearance</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Total</h6>
                          <h3>{{ clearance_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Pending</h6>
                          <h3 class="text-warning">{{ clearance_pending|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Released</h6>
                          <h3 class="text-success">{{ clearance_released|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Reverted</h6>
                          <h3 class="text-danger">{{ clearance_reverted|default:"0" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Certificate of Indigency -->
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <div class="card-header bg-info text-white">
                    <h6 class="mb-0"><i class="fas fa-feather-alt me-2"></i> Certificate of Indigency</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Total</h6>
                          <h3>{{ indigency_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Pending</h6>
                          <h3 class="text-warning">{{ indigency_pending|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Released</h6>
                          <h3 class="text-success">{{ indigency_released|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Reverted</h6>
                          <h3 class="text-danger">{{ indigency_reverted|default:"0" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Business Permit -->
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <div class="card-header bg-primary text-white">
                    <h6 class="mb-0"><i class="fas fa-file-contract me-2"></i> Business Permit</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Total</h6>
                          <h3>{{ business_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Pending</h6>
                          <h3 class="text-warning">{{ business_pending|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Released</h6>
                          <h3 class="text-success">{{ business_released|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Reverted</h6>
                          <h3 class="text-danger">{{ business_reverted|default:"0" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Building Permit -->
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <div class="card-header bg-secondary text-white">
                    <h6 class="mb-0"><i class="far fa-building me-2"></i> Building Permit</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Total</h6>
                          <h3>{{ building_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Pending</h6>
                          <h3 class="text-warning">{{ building_pending|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Released</h6>
                          <h3 class="text-success">{{ building_released|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Reverted</h6>
                          <h3 class="text-danger">{{ building_reverted|default:"0" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Certificate of Residency -->
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <div class="card-header bg-danger text-white">
                    <h6 class="mb-0"><i class="fas fa-certificate me-2"></i> Certificate of Residency</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Total</h6>
                          <h3>{{ residency_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Pending</h6>
                          <h3 class="text-warning">{{ residency_pending|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Released</h6>
                          <h3 class="text-success">{{ residency_released|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Reverted</h6>
                          <h3 class="text-danger">{{ residency_reverted|default:"0" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Total Documents -->
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">
                  <div class="card-header" style="background-color: #355389; color: white;">
                    <h6 class="mb-0"><i class="fas fa-clipboard-list me-2"></i> All Documents Summary</h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Total</h6>
                          <h3>{{ document_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Pending</h6>
                          <h3 class="text-warning">{{ pending_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Released</h6>
                          <h3 class="text-success">{{ released_total|default:"0" }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h6 class="text-muted">Reverted</h6>
                          <h3 class="text-danger">{{ reverted_total|default:"0" }}</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Document Request Charts -->
<section class="mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header py-3 d-flex justify-content-between align-items-center" style="background-color: #355389; color: white;">
            <h5 class="mb-0"><i class="fas fa-chart-pie me-2"></i> Document Request Distribution</h5>
            <div>
              <button class="btn btn-sm btn-outline-light" onclick="downloadChart('documentPieChart', 'Document_Request_Distribution.jpeg', 'image/jpeg')">
                <i class="fas fa-download"></i> Download as JPEG
              </button>
              <button class="btn btn-sm btn-outline-light ms-1" onclick="downloadChart('documentPieChart', 'Document_Request_Distribution.png', 'image/png')">
                <i class="fas fa-download"></i> Download as PNG
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="documentPieChart" width="400" height="300"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card border-0 shadow h-100">
          <div class="card-header py-3 d-flex justify-content-between align-items-center" style="background-color: #355389; color: white;">
            <h5 class="mb-0"><i class="fas fa-chart-bar me-2"></i> Documents Status</h5>
            <div>
              <button class="btn btn-sm btn-outline-light" onclick="downloadChart('documentStatusChart', 'Documents_Status.jpeg', 'image/jpeg')">
                <i class="fas fa-download"></i> Download as JPEG
              </button>
              <button class="btn btn-sm btn-outline-light ms-1" onclick="downloadChart('documentStatusChart', 'Documents_Status.png', 'image/png')">
                <i class="fas fa-download"></i> Download as PNG
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="documentStatusChart" width="400" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row px-4">
    <!-- Radar Chart Section -->
    <div class="col-lg-6 col-md-12">
      <div class="card text-center text-black mb-3 border-0 shadow" style="color: #355389;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #355389; color: white;">
          <h5 class="card-title mb-0">
            <i class="fa-solid fa-crosshairs"></i> Resident Radar Chart
          </h5>
          <div>
            <button class="btn btn-sm btn-outline-light" onclick="downloadChart('radarChart', 'Resident_Radar_Chart.jpeg', 'image/jpeg')">
              <i class="fas fa-download"></i> Download as JPEG
            </button>
            <button class="btn btn-sm btn-outline-light ms-1" onclick="downloadChart('radarChart', 'Resident_Radar_Chart.png', 'image/png')">
              <i class="fas fa-download"></i> Download as PNG
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas id="radarChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>

    <!-- Bar Chart Section -->
    <div class="col-lg-6 col-md-12">
      <div class="card text-center text-black mb-3 border-0 shadow" style="color: #355389;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #355389; color: white;">
          <h5 class="card-title mb-0">
            <i class="fa-solid fa-chart-bar"></i> Resident Bar Chart
          </h5>
          <div>
            <button class="btn btn-sm btn-outline-light" onclick="downloadChart('residentChart', 'Resident_Bar_Chart.jpeg', 'image/jpeg')">
              <i class="fas fa-download"></i> Download as JPEG
            </button>
            <button class="btn btn-sm btn-outline-light ms-1" onclick="downloadChart('residentChart', 'Resident_Bar_Chart.png', 'image/png')">
              <i class="fas fa-download"></i> Download as PNG
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas id="residentChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>
  // Register ChartDataLabels plugin globally
  Chart.register(ChartDataLabels);

  // Dynamic data from Django context
  var cResident = {{ cResident }};
  var cMale = {{ cMale }};
  var cFemale = {{ cFemale }};
  var cYes = {{ cYes }};
  var cPwd = {{ cPwd }};
  var cSenior = {{ cSenior }};
  var cMarried = {{ cMarried }};
  var cSingle = {{ cSingle }};
  var cDivorced = {{ cDivorced }};
  var cWidowed = {{ cWidowed }};

  // Document request data - using the Django template variables
  const documentData = {
    clearance: {
      total: {{ clearance_total|default:"0" }},
      pending: {{ clearance_pending|default:"0" }},
      released: {{ clearance_released|default:"0" }},
      reverted: {{ clearance_reverted|default:"0" }}
    },
    indigency: {
      total: {{ indigency_total|default:"0" }},
      pending: {{ indigency_pending|default:"0" }},
      released: {{ indigency_released|default:"0" }},
      reverted: {{ indigency_reverted|default:"0" }}
    },
    business: {
      total: {{ business_total|default:"0" }},
      pending: {{ business_pending|default:"0" }},
      released: {{ business_released|default:"0" }},
      reverted: {{ business_reverted|default:"0" }}
    },
    building: {
      total: {{ building_total|default:"0" }},
      pending: {{ building_pending|default:"0" }},
      released: {{ building_released|default:"0" }},
      reverted: {{ building_reverted|default:"0" }}
    },
    residency: {
      total: {{ residency_total|default:"0" }},
      pending: {{ residency_pending|default:"0" }},
      released: {{ residency_released|default:"0" }},
      reverted: {{ residency_reverted|default:"0" }}
    },
    all: {
      total: {{ document_total|default:"0" }},
      pending: {{ pending_total|default:"0" }},
      released: {{ released_total|default:"0" }},
      reverted: {{ reverted_total|default:"0" }}
    }
  };

  // Initialize the filter interface when page loads
  document.addEventListener('DOMContentLoaded', function() {
    initDateFilters();

    // Set current month and year as default for Monthly filter
    const currentDate = new Date();
    document.getElementById('monthFilter').value = currentDate.getMonth() + 1;

    // Pre-select current year in year dropdown
    if (document.getElementById('yearFilter').options.length > 0) {
      document.getElementById('yearFilter').value = currentDate.getFullYear();
    }
  });

  // Initialize date filters, including populating the year dropdown
  function initDateFilters() {
    // Get the year filter dropdown
    const yearFilter = document.getElementById('yearFilter');

    // Clear existing options
    yearFilter.innerHTML = '';

    // Get current year
    const currentYear = new Date().getFullYear();

    // Add options for the last 5 years
    for (let i = 0; i < 5; i++) {
      const yearOption = document.createElement('option');
      yearOption.value = currentYear - i;
      yearOption.textContent = currentYear - i;
      yearFilter.appendChild(yearOption);
    }
  }

  // Toggle display of period-specific options based on selected period
  function togglePeriodOptions() {
    const periodFilter = document.getElementById('periodFilter');
    const weekOptions = document.getElementById('weekOptions');
    const monthOptions = document.getElementById('monthOptions');
    const yearOptions = document.getElementById('yearOptions');
    const applyBtn = document.getElementById('applyFilterBtn');

    // Hide all first
    weekOptions.style.display = 'none';
    monthOptions.style.display = 'none';
    yearOptions.style.display = 'none';
    applyBtn.style.display = 'none';

    // Then show relevant ones based on selection
    switch(periodFilter.value) {
      case 'weekly':
        weekOptions.style.display = 'block';
        yearOptions.style.display = 'block';
        applyBtn.style.display = 'block';
        break;
      case 'monthly':
        monthOptions.style.display = 'block';
        yearOptions.style.display = 'block';
        applyBtn.style.display = 'block';
        break;
      case 'yearly':
        yearOptions.style.display = 'block';
        applyBtn.style.display = 'block';
        break;
      default: // 'all'
        // Keep all hidden, but apply filter immediately
        applyFilters();
        break;
    }
  }

  // Apply the selected filters and update the document statistics
  function applyFilters() {
    const periodFilter = document.getElementById('periodFilter').value;

    // Get filter values
    const filters = {
      period: periodFilter,
      week: document.getElementById('weekFilter').value,
      month: document.getElementById('monthFilter').value,
      year: document.getElementById('yearFilter').value
    };

    // Show loading indicator
    showLoadingState();

    // Get CSRF token
    const csrfToken = getCsrfToken();
    if (!csrfToken) {
      console.error('No CSRF token found. Using fallback to current data.');
      updateDocumentStatistics(documentData);
      updateCharts(documentData);
      hideLoadingState();
      Swal.fire({
        title: 'Error',
        text: 'CSRF token not found. Using current data.',
        icon: 'warning',
        timer: 3000,
        toast: true,
        position: 'top-end',
        showConfirmButton: false
      });
      return;
    }

    // Make an AJAX request to get filtered data from the server
    fetch('/BESS/Dashboard/filter-stats/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrfToken
      },
      body: JSON.stringify(filters),
      credentials: 'same-origin'
    })
    .then(response => {
      if (!response.ok) {
        return response.text().then(text => {
          console.error('Error response:', text);
          throw new Error(`Server responded with ${response.status}: ${text}`);
        });
      }
      return response.json();
    })
    .then(data => {
      // Update the UI with the filtered data
      updateDocumentStatistics(data);
      updateCharts(data);
      hideLoadingState();

      // Show notification of applied filter
      showFilterAppliedNotification(filters);
    })
    .catch(error => {
      console.error('Error fetching filtered data:', error);
      // In case of error, fallback to current data
      updateDocumentStatistics(documentData);
      updateCharts(documentData);
      hideLoadingState();

      // Show error notification
      Swal.fire({
        title: 'Error',
        text: 'Failed to load filtered data: ' + error.message,
        icon: 'error',
        timer: 3000,
        toast: true,
        position: 'top-end',
        showConfirmButton: false
      });
    });
  }

  // Helper function to get CSRF token from cookies
  function getCsrfToken() {
    // First try to find the token in a meta tag
    const metaTag = document.querySelector('meta[name="csrf-token"]');
    if (metaTag) {
      return metaTag.getAttribute('content');
    }

    // Fall back to searching in cookies
    const name = 'csrftoken';
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }

    if (!cookieValue) {
      console.warn('Could not find CSRF token in meta tag or cookies');
    }

    return cookieValue;
  }

  // Show loading state on cards while fetching data
  function showLoadingState() {
    const statsSection = document.getElementById('documentStatsSection');

    // Add loading overlay
    const loadingOverlay = document.createElement('div');
    loadingOverlay.id = 'statsLoadingOverlay';
    loadingOverlay.classList.add('position-absolute', 'top-0', 'start-0', 'w-100', 'h-100', 'd-flex', 'justify-content-center', 'align-items-center');
    loadingOverlay.style.backgroundColor = 'rgba(255, 255, 255, 0.7)';
    loadingOverlay.style.zIndex = '1000';

    const spinner = document.createElement('div');
    spinner.classList.add('spinner-border', 'text-primary');
    spinner.setAttribute('role', 'status');
    spinner.innerHTML = '<span class="visually-hidden">Loading...</span>';

    loadingOverlay.appendChild(spinner);
    statsSection.style.position = 'relative';
    statsSection.appendChild(loadingOverlay);
  }

  // Hide loading state
  function hideLoadingState() {
    const loadingOverlay = document.getElementById('statsLoadingOverlay');
    if (loadingOverlay) {
      loadingOverlay.remove();
    }
  }

  // Update document statistics UI with filtered data
  function updateDocumentStatistics(data) {
    // Update the UI with new values
    document.querySelectorAll('#documentStatsSection .card').forEach(card => {
      // Identify which card we're dealing with
      const header = card.querySelector('.card-header');
      if (!header) return;

      const headerText = header.textContent.trim();
      let category = null;

      if (headerText.includes('Barangay Clearance')) category = 'clearance';
      else if (headerText.includes('Certificate of Indigency')) category = 'indigency';
      else if (headerText.includes('Business Permit')) category = 'business';
      else if (headerText.includes('Building Permit')) category = 'building';
      else if (headerText.includes('Certificate of Residency')) category = 'residency';
      else if (headerText.includes('All Documents')) category = 'all';

      if (!category) return;

      // Update the values in the card - using .col-3 selectors
      const totalElement = card.querySelector('.col-3:nth-child(1) h3');
      const pendingElement = card.querySelector('.col-3:nth-child(2) h3');
      const releasedElement = card.querySelector('.col-3:nth-child(3) h3');
      const revertedElement = card.querySelector('.col-3:nth-child(4) h3');

      if (totalElement) totalElement.textContent = data[category].total;
      if (pendingElement) pendingElement.textContent = data[category].pending;
      if (releasedElement) releasedElement.textContent = data[category].released;
      if (revertedElement) revertedElement.textContent = data[category].reverted;
    });
  }

  // Update charts with filtered data
  function updateCharts(data) {
    // Update pie chart
    if (window.documentPieChart) {
      documentPieChart.data.datasets[0].data = [
        data.clearance.total,
        data.indigency.total,
        data.business.total,
        data.building.total,
        data.residency.total
      ];
      documentPieChart.update();
    }

    // Update status chart
    if (window.documentStatusChart) {
      documentStatusChart.data.datasets[0].data = [
        data.clearance.total,
        data.indigency.total,
        data.business.total,
        data.building.total,
        data.residency.total
      ];

      documentStatusChart.data.datasets[1].data = [
        data.clearance.pending,
        data.indigency.pending,
        data.business.pending,
        data.building.pending,
        data.residency.pending
      ];

      documentStatusChart.data.datasets[2].data = [
        data.clearance.released,
        data.indigency.released,
        data.business.released,
        data.building.released,
        data.residency.released
      ];

      documentStatusChart.data.datasets[3].data = [
        data.clearance.reverted,
        data.indigency.reverted,
        data.business.reverted,
        data.building.reverted,
        data.residency.reverted
      ];

      documentStatusChart.update();
    }
  }

  // Show notification that filters have been applied
  function showFilterAppliedNotification(filters) {
    let filterDescription = '';

    switch(filters.period) {
      case 'weekly':
        const weekText = document.getElementById('weekFilter').options[document.getElementById('weekFilter').selectedIndex].text;
        filterDescription = `${weekText} of ${filters.year}`;
        break;
      case 'monthly':
        const monthText = document.getElementById('monthFilter').options[document.getElementById('monthFilter').selectedIndex].text;
        filterDescription = `${monthText} ${filters.year}`;
        break;
      case 'yearly':
        filterDescription = `Year ${filters.year}`;
        break;
      default:
        filterDescription = 'All Time (No Filter)';
    }

    // Using SweetAlert to show a notification
    Swal.fire({
      title: 'Filter Applied',
      text: `Showing document statistics for: ${filterDescription}`,
      icon: 'success',
      timer: 2000,
      toast: true,
      position: 'top-end',
      showConfirmButton: false
    });
  }

  // Function to download charts as images
  function downloadChart(chartId, filename, mimeType) {
    const canvas = document.getElementById(chartId);
    if (!canvas) {
      console.error('Chart canvas not found:', chartId);
      Swal.fire({
        title: 'Error',
        text: 'Could not find the chart to download',
        icon: 'error',
        timer: 2000,
        showConfirmButton: false
      });
      return;
    }

    try {
      // Show loading indicator
      Swal.fire({
        title: 'Preparing download...',
        text: 'Please wait',
        allowOutsideClick: false,
        didOpen: () => {
          Swal.showLoading();
        }
      });

      // For charts, we can directly get the image from the canvas
      const image = canvas.toDataURL(mimeType, 1.0);

      // Create a download link
      const downloadLink = document.createElement('a');
      downloadLink.href = image;
      downloadLink.download = filename;

      // Trigger the download
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);

      // Close loading indicator
      setTimeout(() => {
        Swal.close();
      }, 500);
    } catch (error) {
      console.error('Error downloading chart:', error);
      Swal.fire({
        title: 'Error',
        text: 'Failed to download the chart',
        icon: 'error',
        timer: 2000
      });
    }
  }

  // Function to download a section (like stats cards)
  function downloadSection(sectionId, filename, mimeType) {
    const section = document.getElementById(sectionId);
    if (!section) {
      console.error('Section not found:', sectionId);
      Swal.fire({
        title: 'Error',
        text: 'Could not find the section to download',
        icon: 'error',
        timer: 2000,
        showConfirmButton: false
      });
      return;
    }

    // Show loading indicator
    Swal.fire({
      title: 'Preparing download...',
      text: 'Please wait',
      allowOutsideClick: false,
      didOpen: () => {
        Swal.showLoading();
      }
    });

    // Check if we're in dark mode
    const isDarkMode = document.body.classList.contains('dark-mode');

    // Create a clone of the section to capture
    const sectionClone = section.cloneNode(true);
    sectionClone.style.position = 'absolute';
    sectionClone.style.left = '-9999px';
    sectionClone.style.top = '-9999px';
    document.body.appendChild(sectionClone);

    // Force light mode styles for the clone if needed
    if (isDarkMode) {
      // Process all child elements to ensure proper styling
      const applyLightModeStyles = (element) => {
        // Remove dark mode classes
        if (element.classList) {
          element.classList.remove('dark-mode');
        }

        // Apply light background to cards if they have dark backgrounds
        if (element.classList && element.classList.contains('card')) {
          // Ensure card backgrounds are white/light
          element.style.backgroundColor = '#ffffff';
          element.style.color = '#333333';
        }

        // Fix text colors
        if (element.classList && (element.classList.contains('text-white') || element.classList.contains('text-light'))) {
          if (!element.closest('.card-header')) { // Don't change header text colors
            element.style.color = '#333333';
          }
        }

        // Apply to all children
        if (element.children && element.children.length > 0) {
          Array.from(element.children).forEach(child => {
            applyLightModeStyles(child);
          });
        }
      };

      // Start processing from the clone
      applyLightModeStyles(sectionClone);
    }

    // Create screenshot of the section
    html2canvas(sectionClone, {
      scale: 2, // Higher scale for better quality
      backgroundColor: '#ffffff', // Force white background
      logging: false,
      useCORS: true,
      allowTaint: true
    }).then(canvas => {
      try {
        // Convert to image data
        const image = canvas.toDataURL(mimeType, 1.0);

        // Create a download link
        const downloadLink = document.createElement('a');
        downloadLink.href = image;
        downloadLink.download = filename;

        // Trigger the download
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);

        // Remove the cloned section
        document.body.removeChild(sectionClone);

        // Close loading indicator
        setTimeout(() => {
          Swal.close();
        }, 500);
      } catch (error) {
        console.error('Error processing download:', error);
        Swal.fire({
          title: 'Error',
          text: 'Failed to process the download',
          icon: 'error',
          timer: 2000
        });

        // Clean up
        if (document.body.contains(sectionClone)) {
          document.body.removeChild(sectionClone);
        }
      }
    }).catch(error => {
      console.error('Error capturing section:', error);
      Swal.fire({
        title: 'Error',
        text: 'Failed to capture the section',
        icon: 'error',
        timer: 2000
      });

      // Clean up
      if (document.body.contains(sectionClone)) {
        document.body.removeChild(sectionClone);
      }
    });
  }

  // Bar Chart
  var barCtx = document.getElementById('residentChart').getContext('2d');
  var residentChart = new Chart(barCtx, {
    type: 'bar',
    data: {
      labels: ['Registered Residents', 'Male', 'Female', 'Single Parent', 'PWD', 'Senior Citizen', 'Married', 'Single', 'Divorced', 'Widowed'],
      datasets: [{
        label: 'Resident Count',
        data: [cResident, cMale, cFemale, cYes, cPwd, cSenior, cMarried, cSingle, cDivorced, cWidowed],
        backgroundColor: [
          '#355389', '#89b4fa', '#f5c2e7', '#cba6f7', '#f38ba8', '#a6e3a1',
          '#94e2d5', '#74c7ec', '#fab387', '#b4befe'
        ],
        borderColor: '#fff',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  // Radar Chart
  var radarCtx = document.getElementById('radarChart').getContext('2d');
  var radarChart = new Chart(radarCtx, {
    type: 'radar',
    data: {
      labels: ['Registered Residents', 'Male', 'Female', 'Single Parent', 'PWD', 'Senior Citizen', 'Married', 'Single', 'Divorced', 'Widowed'],
      datasets: [{
        label: 'Resident Count',
        data: [cResident, cMale, cFemale, cYes, cPwd, cSenior, cMarried, cSingle, cDivorced, cWidowed],
        backgroundColor: 'rgba(53, 83, 137, 0.5)',
        borderColor: '#355389',
        borderWidth: 2
      }]
    },
    options: {
      responsive: true,
      scales: {
        r: {
          angleLines: {
            color: '#ccc'
          },
          grid: {
            color: '#ddd'
          },
          ticks: {
            beginAtZero: true
          }
        }
      }
    }
  });

  // Document Pie Chart
  var docPieCtx = document.getElementById('documentPieChart').getContext('2d');
  var documentPieChart = new Chart(docPieCtx, {
    type: 'pie',
    data: {
      labels: ['Barangay Clearance', 'Certificate of Indigency', 'Business Permit', 'Building Permit', 'Certificate of Residency'],
      datasets: [{
        data: [
          {{ clearance_total|default:"0" }},
          {{ indigency_total|default:"0" }},
          {{ business_total|default:"0" }},
          {{ building_total|default:"0" }},
          {{ residency_total|default:"0" }}
        ],
        backgroundColor: [
          '#28a745', // green
          '#17a2b8', // info
          '#007bff', // primary
          '#6c757d', // secondary
          '#dc3545'  // danger
        ],
        borderColor: '#fff',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'right',
        },
        title: {
          display: true,
          text: 'Distribution of Document Requests',
          font: {
            size: 16
          }
        },
        tooltip: {
          callbacks: {
            label: function(context) {
              const label = context.label || '';
              const value = context.raw || 0;
              const total = context.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
              const percentage = Math.round((value / total) * 100);
              return `${label}: ${value} (${percentage}%)`;
            }
          }
        },
        datalabels: {
          formatter: (value, ctx) => {
            const total = ctx.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
            const percentage = Math.round((value / total) * 100);
            return percentage + '%';
          },
          color: '#fff',
          font: {
            weight: 'bold',
            size: 16
          },
          textStrokeColor: '#000',
          textStrokeWidth: 1,
          align: 'center',
          anchor: 'center'
        }
      }
    }
  });

  // Document Status Chart
  var docStatusCtx = document.getElementById('documentStatusChart').getContext('2d');
  var documentStatusChart = new Chart(docStatusCtx, {
    type: 'bar',
    data: {
      labels: ['Barangay Clearance', 'Certificate of Indigency', 'Business Permit', 'Building Permit', 'Certificate of Residency'],
      datasets: [
        {
          label: 'Total Requests',
          data: [
            {{ clearance_total|default:"0" }},
            {{ indigency_total|default:"0" }},
            {{ business_total|default:"0" }},
            {{ building_total|default:"0" }},
            {{ residency_total|default:"0" }}
          ],
          backgroundColor: 'rgba(53, 83, 137, 0.7)'
        },
        {
          label: 'Pending Requests',
          data: [
            {{ clearance_pending|default:"0" }},
            {{ indigency_pending|default:"0" }},
            {{ business_pending|default:"0" }},
            {{ building_pending|default:"0" }},
            {{ residency_pending|default:"0" }}
          ],
          backgroundColor: 'rgba(255, 193, 7, 0.7)'
        },
        {
          label: 'Released Requests',
          data: [
            {{ clearance_released|default:"0" }},
            {{ indigency_released|default:"0" }},
            {{ business_released|default:"0" }},
            {{ building_released|default:"0" }},
            {{ residency_released|default:"0" }}
          ],
          backgroundColor: 'rgba(40, 167, 69, 0.7)'
        },
        {
          label: 'Reverted Requests',
          data: [
            {{ clearance_reverted|default:"0" }},
            {{ indigency_reverted|default:"0" }},
            {{ business_reverted|default:"0" }},
            {{ building_reverted|default:"0" }},
            {{ residency_reverted|default:"0" }}
          ],
          backgroundColor: 'rgba(220, 53, 69, 0.7)'
        }
      ]
    },
    options: {
      responsive: true,
      scales: {
        x: {
          stacked: false
        },
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        title: {
          display: true,
          text: 'Document Requests Status',
          font: {
            size: 16
          }
        }
      }
    }
  });
</script>

{% endblock content %}
